<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    </script>
  <link href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            rel="stylesheet">
            

</head>
<body>
  <input type="file" id="upload" />
  <audio id="audio" controls>
    <source src="" id="src" />
  </audio>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" >
                <h5 class="card-header h5 text-center">
                     live Cam
                </h5>
                <div class="card-body">
                    <div class="booth">
                        <video id="video" width="500px" 
                            height="500px" autoplay>
                        </video>
                    </div>

                    <div class="text-right">
                        <a href="#!" class="btn btn-danger" id="stop-rec" disabled>
                            Stop Cam
                        </a>
                        <a href="#!" class="btn btn-success" id="start-rec">
                            Start Cam
                        </a>
				<a id="downloadButton" class="btn btn-secondary">
    Download
  </a>
  <a href="#!" class="btn btn-success" id="pause">
    Pause Cam
</a>
                    </div>
                    <p id="log"></p>
                </div>
                <p id="time">time</p>
   		 
            </div>
        </div>
    </div>
</div>  

<form method="post" action="/file" enctype="multipart/form-data">
  <dl>

  <p>
    <input type="file" name="file" autocomplete="off" required>
  </p>
  </dl>
  <p>
  <input type="submit" value="Upload Vedio">
</p>
</form>
<form method="post" action="/file" enctype="multipart/form-data">
  <dl>

  <p>
    <input type="file" name="file" autocomplete="off" >
  </p>
  </dl>
  <p>
  <input type="submit" value="Upload Audio">
</p>

</body>
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='musync.js') }}"></script>


<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</html>

